<div class="sidebar-wrapper">
    <div id="sidebarEffect"></div>
    <div>
        <div class="logo-wrapper logo-wrapper-center">
            <a href="index.html" data-bs-original-title="" title="">
                <img class="img-fluid for-white" src="/p-admin/images/logo/full-white.png" alt="logo">
            </a>
            <div class="back-btn">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="toggle-sidebar">
                <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
            </div>
        </div>
        <div class="logo-icon-wrapper">
            <a href="index.html">
                <img class="img-fluid main-logo main-white" src="/p-admin/images/logo/logo.png" alt="logo">
                <img class="img-fluid main-logo main-dark" src="/p-admin/images/logo/logo-white.png" alt="logo">
            </a>
        </div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow">
                <i data-feather="arrow-left"></i>
            </div>

            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="back-btn"></li>

                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title link-nav" href="index.html">
                            <i class="ri-home-line"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-store-3-line"></i>
                            <span>محصولات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/p-admin/product">محصولات</a>
                            </li>

                            <li>
                                <a href="/p-admin/show-add-product">افزودن محصول جدید</a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-list">
                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-list-check-2"></i>
                            <span>دسته بندی</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/p-admin/category">لیست دسته ها</a>
                            </li>

                            <li>
                                <a href="/p-admin/show-add-category">افزودن دسته جدید</a>
                            </li>
                        </ul>
                    </li>



                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-user-3-line"></i>
                            <span>کاربران</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/p-admin/users">نمایش کاربران</a>
                            </li>
<!--                            <li>-->
<!--                                <a href="add-new-user.html">افزودن کاربر جدید</a>-->
<!--                            </li>-->
                        </ul>
                    </li>




                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                            <i class="ri-archive-line"></i>
                            <span>سفارشات</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/p-admin/order-list">لیست سفارشات</a>
                            </li>
<!--                            <li>-->
<!--                                <a href="order-detail.html">جزئیات سفارش</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="/p-admin/order-tracking">رهگیری سفارش</a>-->
<!--                            </li>-->
                        </ul>
                    </li>


<!--                    <li class="sidebar-list">-->
<!--                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">-->
<!--                            <i class="ri-price-tag-3-line"></i>-->
<!--                            <span>کد تخفیف</span>-->
<!--                        </a>-->
<!--                        <ul class="sidebar-submenu">-->
<!--                            <li>-->
<!--                                <a href="coupon-list.html">لیست تخفیف ها</a>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="create-coupon.html">افزودن</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->



<!--                    <li class="sidebar-list">-->
<!--                        <a class="sidebar-link sidebar-title link-nav" href="product-review.ejs">-->
<!--                            <i class="ri-star-line"></i>-->
<!--                            <span>بررسی محصول</span>-->
<!--                        </a>-->
<!--                    </li>-->



<!--                    <li class="sidebar-list">-->
<!--                        <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">-->
<!--                            <i class="ri-settings-line"></i>-->
<!--                            <span>تنظیمات</span>-->
<!--                        </a>-->
<!--                        <ul class="sidebar-submenu">-->
<!--                            <li>-->
<!--                                <a href="profile-setting.html">تنظیمات حساب</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->

                </ul>
            </div>

            <div class="right-arrow" id="right-arrow">
                <i data-feather="arrow-right"></i>
            </div>
        </nav>
    </div>
</div>